In [351]:
import csv

In [352]:
f = open("student data.csv")
read = csv.reader(f)
student_data = list(read)

In [353]:
student_data

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math'],
 ['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Hamna', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danish', '63', '77', '82'],
 ['121', 'Kainat', '64', '78', '83'],
 ['122', 'Sameer', '65', '79', '84'],
 ['123', 'Raza', '66', '80', '85'],
 ['124', 'Kumar', '67', '81', '86'],
 ['125', 'Komal', '68', '82', '87'],
 ['126', 'Erum', '69', '83', '88'],
 ['127', 'Faiza', '70', '84', '89'],
 ['128', 'Saeed', '71', '85', '90'],
 ['129', 'Waqar', '72', '86', '91'],
 ['130', 'Wali', '73', '87', '92'],
 ['131', 'Wajid', '74', '88', '93'],
 ['132', 'Waseeb', '75', '89', '94'],
 ['133', 'Shiza', '76', '90', '95'],
 ['134', 'Shabina', '77', '91', '96'],
 ['135', 'Shazain', '78', '55', '97'],
 ['136', 'Lubna', '79', '61', '98'],
 ['137', 'Laiba', '80', '88', '78'],
 ['138', 'Khursheed', '81', '56', '45'],
 ['139', 'Ali', '82', '89', '46'],
 ['140', 'Aiza', '83', '45', '89'],
 ['141', 'Aiman', '84', '92', '78'],
 ['142', 'Yasmeen', '85', '36', '56'],
 ['143', 'Tasbeel', '86', '78', '78'],
 ['144', 'Laraib', '87', '56', '54'],
 ['145', 'Saleem', '88', '78', '78'],
 ['146', 'Bismil', '89', '89', '46'],
 ['147', 'Batool', '90', '56', '79'],
 ['148', 'Iqra', '91', '33', '46'],
 ['149', 'Zarnish', '92', '78', '45'],
 ['150', 'Zara', '83', '45', '56']]

In [354]:
header = student_data[0]
print(header)

['roll no', 'Name', 'Chemistry', 'Physics', 'Math']

In [355]:
student_data[1]

['101', 'Aliza', '50', '23', '87']

In [356]:
student = student_data[1:]
print(student[0])

['101', 'Aliza', '50', '23', '87']

In [357]:
student[0][2]

'50'

In [358]:
chem_marks = []

for i in student:
    # print(i[2])
    chem_marks.append(int(i[2]))

In [359]:
print(chem_marks)

[50, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 83]

In [374]:
chem_marks = [int(i[2]) for i in student]
print(chem_marks)

[50, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 83]

In [360]:
print(sum(chem_marks))
print(len(chem_marks))

3421
50

In [361]:
avg_chem_marks = sum(chem_marks)/len(chem_marks)
print(avg_chem_marks)

68.42

In [362]:
phy_marks = []

for i in student:
    # print(i[3])
    phy_marks.append(int(i[3]))

In [363]:
print(phy_marks)

[23, 24, 25, 26, 27, 28, 29, 30, 31, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 55, 61, 88, 56, 89, 45, 92, 36, 78, 56, 78, 89, 56, 33, 78, 45]

In [364]:
avg_phy_marks = sum(phy_marks)/len(phy_marks)
print(avg_phy_marks)

65.06

In [365]:
math_marks = []

for i in student:
    # print(i[4])
    math_marks.append(int(i[4]))

In [366]:
print(math_marks)

[87, 88, 89, 90, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 78, 45, 46, 89, 78, 56, 78, 54, 78, 46, 79, 46, 45, 56]

In [367]:
avg_math_marks = sum(math_marks)/len(math_marks)
print(avg_math_marks)

77.36

In [368]:
for i in student:
    chem = int(i[2])
    phy = int(i[3])
    math = int(i[4])
    percentage = round((chem+phy+math)/300*100,2)
    # print(percentage)
    i.append(percentage)

In [369]:
student

[['101', 'Aliza', '50', '23', '87', 53.33],
 ['102', 'Fareed', '45', '24', '88', 52.33],
 ['103', 'Basit', '46', '25', '89', 53.33],
 ['104', 'Abdullah', '47', '26', '90', 54.33],
 ['105', 'Ali', '48', '27', '67', 47.33],
 ['106', 'Mubashir', '49', '28', '68', 48.33],
 ['107', 'Waleed', '50', '29', '69', 49.33],
 ['108', 'Mansoor', '51', '30', '70', 50.33],
 ['109', 'Zain', '52', '31', '71', 51.33],
 ['110', 'Mohsin', '53', '67', '72', 64.0],
 ['111', 'Shahmeer', '54', '68', '73', 65.0],
 ['112', 'Rao', '55', '69', '74', 66.0],
 ['113', 'Aurangzeb', '56', '70', '75', 67.0],
 ['114', 'Zeeshan', '57', '71', '76', 68.0],
 ['115', 'Hamna', '58', '72', '77', 69.0],
 ['116', 'Hamza', '59', '73', '78', 70.0],
 ['117', 'Khalid', '60', '74', '79', 71.0],
 ['118', 'Behroz', '61', '75', '80', 72.0],
 ['119', 'Justin', '62', '76', '81', 73.0],
 ['120', 'Danish', '63', '77', '82', 74.0],
 ['121', 'Kainat', '64', '78', '83', 75.0],
 ['122', 'Sameer', '65', '79', '84', 76.0],
 ['123', 'Raza', '66', '80', '85', 77.0],
 ['124', 'Kumar', '67', '81', '86', 78.0],
 ['125', 'Komal', '68', '82', '87', 79.0],
 ['126', 'Erum', '69', '83', '88', 80.0],
 ['127', 'Faiza', '70', '84', '89', 81.0],
 ['128', 'Saeed', '71', '85', '90', 82.0],
 ['129', 'Waqar', '72', '86', '91', 83.0],
 ['130', 'Wali', '73', '87', '92', 84.0],
 ['131', 'Wajid', '74', '88', '93', 85.0],
 ['132', 'Waseeb', '75', '89', '94', 86.0],
 ['133', 'Shiza', '76', '90', '95', 87.0],
 ['134', 'Shabina', '77', '91', '96', 88.0],
 ['135', 'Shazain', '78', '55', '97', 76.67],
 ['136', 'Lubna', '79', '61', '98', 79.33],
 ['137', 'Laiba', '80', '88', '78', 82.0],
 ['138', 'Khursheed', '81', '56', '45', 60.67],
 ['139', 'Ali', '82', '89', '46', 72.33],
 ['140', 'Aiza', '83', '45', '89', 72.33],
 ['141', 'Aiman', '84', '92', '78', 84.67],
 ['142', 'Yasmeen', '85', '36', '56', 59.0],
 ['143', 'Tasbeel', '86', '78', '78', 80.67],
 ['144', 'Laraib', '87', '56', '54', 65.67],
 ['145', 'Saleem', '88', '78', '78', 81.33],
 ['146', 'Bismil', '89', '89', '46', 74.67],
 ['147', 'Batool', '90', '56', '79', 75.0],
 ['148', 'Iqra', '91', '33', '46', 56.67],
 ['149', 'Zarnish', '92', '78', '45', 71.67],
 ['150', 'Zara', '83', '45', '56', 61.33]]

In [370]:
student_data[0].append("percentage")

In [371]:
student_data

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math', 'percentage'],
 ['101', 'Aliza', '50', '23', '87', 53.33],
 ['102', 'Fareed', '45', '24', '88', 52.33],
 ['103', 'Basit', '46', '25', '89', 53.33],
 ['104', 'Abdullah', '47', '26', '90', 54.33],
 ['105', 'Ali', '48', '27', '67', 47.33],
 ['106', 'Mubashir', '49', '28', '68', 48.33],
 ['107', 'Waleed', '50', '29', '69', 49.33],
 ['108', 'Mansoor', '51', '30', '70', 50.33],
 ['109', 'Zain', '52', '31', '71', 51.33],
 ['110', 'Mohsin', '53', '67', '72', 64.0],
 ['111', 'Shahmeer', '54', '68', '73', 65.0],
 ['112', 'Rao', '55', '69', '74', 66.0],
 ['113', 'Aurangzeb', '56', '70', '75', 67.0],
 ['114', 'Zeeshan', '57', '71', '76', 68.0],
 ['115', 'Hamna', '58', '72', '77', 69.0],
 ['116', 'Hamza', '59', '73', '78', 70.0],
 ['117', 'Khalid', '60', '74', '79', 71.0],
 ['118', 'Behroz', '61', '75', '80', 72.0],
 ['119', 'Justin', '62', '76', '81', 73.0],
 ['120', 'Danish', '63', '77', '82', 74.0],
 ['121', 'Kainat', '64', '78', '83', 75.0],
 ['122', 'Sameer', '65', '79', '84', 76.0],
 ['123', 'Raza', '66', '80', '85', 77.0],
 ['124', 'Kumar', '67', '81', '86', 78.0],
 ['125', 'Komal', '68', '82', '87', 79.0],
 ['126', 'Erum', '69', '83', '88', 80.0],
 ['127', 'Faiza', '70', '84', '89', 81.0],
 ['128', 'Saeed', '71', '85', '90', 82.0],
 ['129', 'Waqar', '72', '86', '91', 83.0],
 ['130', 'Wali', '73', '87', '92', 84.0],
 ['131', 'Wajid', '74', '88', '93', 85.0],
 ['132', 'Waseeb', '75', '89', '94', 86.0],
 ['133', 'Shiza', '76', '90', '95', 87.0],
 ['134', 'Shabina', '77', '91', '96', 88.0],
 ['135', 'Shazain', '78', '55', '97', 76.67],
 ['136', 'Lubna', '79', '61', '98', 79.33],
 ['137', 'Laiba', '80', '88', '78', 82.0],
 ['138', 'Khursheed', '81', '56', '45', 60.67],
 ['139', 'Ali', '82', '89', '46', 72.33],
 ['140', 'Aiza', '83', '45', '89', 72.33],
 ['141', 'Aiman', '84', '92', '78', 84.67],
 ['142', 'Yasmeen', '85', '36', '56', 59.0],
 ['143', 'Tasbeel', '86', '78', '78', 80.67],
 ['144', 'Laraib', '87', '56', '54', 65.67],
 ['145', 'Saleem', '88', '78', '78', 81.33],
 ['146', 'Bismil', '89', '89', '46', 74.67],
 ['147', 'Batool', '90', '56', '79', 75.0],
 ['148', 'Iqra', '91', '33', '46', 56.67],
 ['149', 'Zarnish', '92', '78', '45', 71.67],
 ['150', 'Zara', '83', '45', '56', 61.33]]

In [372]:
f = open("students.csv",mode = "w",newline = "")
write = csv.writer(f)
write.writerows(student_data)

In [373]:
f.close()